DUO_CLIENT_ID=DIxxxxxxxxxxxxxxxx
DUO_CLIENT_SECRET=xxxxxxxxxxxxxxxx

DUO_ISSUER_URL=https://sso-xxxxxxxx.sso.duosecurity.com/oidc/xxxxxxxx
DUO_LOGIN_URL=https://sso-xxxxxxxx.sso.duosecurity.com/oidc/xxxxxxxx/authorize
DUO_JWKS_URL=https://sso-xxxxxxxx.sso.duosecurity.com/oidc/xxxxxxxx/jwks
DUO_VALIDATE_URL=https://sso-xxxxxxxx.sso.duosecurity.com/oidc/xxxxxxxx/token_introspection
DUO_PROFILE_URL=https://sso-xxxxxxxx.sso.duosecurity.com/oidc/xxxxxxxx/userinfo
DUO_REDEEM_URL=https://sso-xxxxxxxx.sso.duosecurity.com/oidc/xxxxxxxx/token

OAUTH2_PROXY_COOKIE_SECRET=your-generated-secret